---
---

@charset "UTF-8";
@import "lightbox.min.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}

.lightbox-link {
  img {
    width: 50%;
    margin: 0px;
  }
}

.content {
  font-family: "Source Sans Pro", "メイリオ", sans-serif;

  h1 { font-weight: bold; }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding-left: 0.7rem;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    color: #454545;
  }

  h2:after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: ' ';
    width: 5px;
    height: 1em;
    background-color: #446689;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  em {
    color: #d44950;
    font-style: normal;
  }

  table.images {
    table-layout: fixed;

    td {
      text-align: center;

      img { width: 100%; }
    }

    p {
      margin: 0px;
      padding: 0px;
    }
  }
  
  .highlight pre { white-space: pre; overflow: auto; }
}

.site-footer {
  border-top: 1px solid #e8e8e8 !important;
  padding: 20px;

  .footer-heading {
    font-size: 1.0rem;
    margin-bottom: 15px;
  }

  .p-name {
    color: #454545;
  }

  .footer-col-wrapper {
    font-size: 0.8rem;
    color: #828282;
    margin-left: -12px;

    .footer-col {
      float: left;
      margin-bottom: 30px;
      padding-left: 15px;
    }

    .footer-col-1 {
      width: calc(35% - (30px / 2));
    }
    .footer-col-2 {
      width: calc(25% - (30px / 2));
    }
    .footer-col-3 {
      width: calc(45% - (30px / 2));
    }

    .contact-list, .social-media-list {
      list-style: none;
    }
  }

  .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    margin-right: 5px;
    vertical-align: text-top;
  }
}


