---
---

@charset "UTF-8";
@import "lightbox.min.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.lightbox-link {
  img {
    width: 50%;
    margin: 0px;
  }
}

.content {
  font-family: "Source Sans Pro", "メイリオ", sans-serif;

  h1 { font-weight: bold; }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding-left: 0.7rem;
    margin-top: 2.0rem;
    margin-bottom: 1.0rem;
    color: #454545;
  }

  h2:after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: ' ';
    width: 5px;
    height: 1em;
    background-color: #446689;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  em {
    color: #d44950;
    font-style: normal;
  }

  table.images {
    table-layout: fixed;

    td {
      text-align: center;

      img { width: 100%; }
    }

    p {
      margin: 0px;
      padding: 0px;
    }
  }
  
  .highlight pre { white-space: pre; overflow: auto; }
}